.numberContainer {
    border: 1px solid white;
    margin: 0px 10px;
    border-radius: 3px;
    &__header {
        margin: 0px;
        padding: 8px 5px;
    }
}
.numberContainer:first-of-type {
    background-color: rgb(255, 168, 168);
    .numberContainer__header {
        background-color: rgba(255, 116, 116, 0.999);
        color: rgb(203, 0, 0);
    }
}
.numberContainer:nth-of-type(2) {
    background-color: rgb(177, 255, 168);
    .numberContainer__header {
        background-color: rgba(116, 255, 130, 0.999);
        color: rgb(0, 151, 10);
    }
}
.numberContainer:nth-of-type(3) {
    background-color: rgb(192, 192, 192);
    .numberContainer__header {
        background-color: rgba(123, 123, 123, 0.999);
        color: rgb(255, 255, 255);
    }
}